{% extends "base.html.twig" %}

{% block title %}france{% endblock %}

{% block body %}
<div class="container">

{% for article in articles %}
{% include "articles/_articleindexcategorycard.html.twig" %}
{% endfor %}
</div>
{% endblock %}