{% extends "base.html.twig" %}

{% block title %}Création d'un article{% endblock %}
{% block body %}

<h1 class="my-3" align="center">Création d'un article</h1>
{% form_theme form 'articles/_collectionType.html.twig' %}
<div class="container">

{{form_start(form)}}

{{form_widget(form)}}
<button type="submit" class="btn btn-primary float-right">Enregistrer l'article</button>
{{form_end(form)}}
</div>


{% endblock %}
{% block javascripts %}
	<script src="/js/ad.js"></script>
{% endblock %}